.search-results{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.flight{
    background-color: #1a4d2f;
    color: white;
    border-radius: 15px;
    padding: 20px;
    width: fit-content;
    margin: 2vh;
}
.flight:hover{
    background-color: #153d26;
}


.price{
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.price .cost{
    font-size:x-large;
    font-weight: 700;
}

.cost-title , .tax {
    color: rgb(202, 202, 202);
    font-weight: 400;
    font-size: small;
}

.tax{
    margin-left: 10px;
}

.flight-price{
    margin: 1.5vh;
}

h1{
    font-size:medium;
    font-weight: 350;
}

.date, .route{
    color: rgb(202, 202, 202);
    font-size: smaller;
}