.App {
  text-align: center;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

button{
  background-color: #38b8a6;
  color: white;
  border-radius: 6px;
  padding: 10px 20px;
  border: none;
}

select{
  background-color: inherit;
  color:grey;
  border: none;
  width: inherit;
}

select:hover{
  border: none;
}

label{
  font-size: x-small;
  display: block;
  color: gray;
}

.dropdown{
  background-color: #181818;
  border-radius: 3px;
  padding: 10px;
  width: 250px;
  margin: 20px;
  text-align: left;
  -webkit-box-shadow: -1px 5px 6px -4px rgba(0,0,0,1);
  -moz-box-shadow: -1px 5px 6px -4px rgba(0,0,0,1);
  box-shadow: -1px 5px 6px -4px rgba(0,0,0,1);
}

.dropdown:hover{
  background-color: #1c2519;
  box-shadow: none;
  border-bottom: solid white 1px;
}



